# For local development, run `supabase status` to get credentials.
# For hosted instance keys head to https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=http://localhost:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Get your key at https://platform.openai.com/account/api-keys
OPENAI_KEY=

# Path to source files used in lib/embeddings.ts
MDX_DOCS_PATH=pages

# for protection with basic auth during development
# used in middleware.ts

NEXT_SECRET_BASIC_AUTH_USER=
NEXT_SECRET_BASIC_AUTH_PASSWORD=
